<!DOCTYPE html>
<html>

<%- include('./components/root/head.ejs', { title: 'Home' }) %>

<body>
    <div class="page">
        <%- include('./components/root/header.ejs') %>
        <main class="main">
            <%- include('./components/sections/hero.ejs') %>
            <%- include('./components/sections/cards.ejs') %>
            <%- include('./components/sections/products.ejs') %>
            <%- include('./components/sections/reviews.ejs') %>
            <%- include('./components/sections/content.ejs') %>
            <%- include('./components/sections/subscribe.ejs') %>
        </main>
        <%- include('./components/root/footer.ejs') %>
        <%- include('./components/root/popup.ejs') %>
    </div>
</body>

</html>